/* =============
    Demo
============= */

body {
  background-color: $white;
}

// #mountains{
//   position: relative;
// }

#container{
  position: relative;


#svg-mountain-draw{
  position: absolute;

}

#svg-mountain-intro{
  position: absolute;

}

#svg-logo{
  position: absolute;
  // z-index: 1000;
  // visibility: hidden;
}

#svg-grill{
  position: absolute;
  visibility: hidden;
  // #grillRect{

  // }
}

#svg-grill-copy{
  position: absolute;
  visibility: hidden;
}

#svg-main-dashboard{
  position: absolute;
  width: 100%;
  top:0;
  left:0;

  // visibility:hidden;
}

#svg-new-circles{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  visibility:hidden;
}
}